*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 5px 18px rgba(0,0,0,.5);
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
h1,h2,h3,h4,h5,p{
    margin: 0;
    padding:0;
    // text-transform: capitalize;
}
a{
    text-decoration: none;
    color: var(--color-white);
    font-weight: 600;
    padding: 1rem;
    &:hover{
        background-color: var(--color-white);
        color: #3285a8;
        // border: #3285a8 solid;
    }
}
.profile{
    p{
        a{
            color: var(--color-black);
            font-weight: 500;
            padding:0;
            &:hover{
                color: var(--color-secondary);
                padding: 0 0.3rem;
            }
        }
    }
    img{
        border: 1px solid var(--color-secondary);
        border-radius: 50%;
    }
    
}
.add-member-form{
    input{
        margin-bottom: 1rem;
    }
}
.transaction-btn{
    width: 100%;
    padding: 0.7rem;
    font-weight: 600;
    box-shadow: var(--shadow-1);
    border: none; 
    &:hover{
        color:var(--color-secondary);
        border: 1.2px solid var(--color-secondary);
    }
}
.content{
    display: none;
}
.contentt{
    display: none;
}
.active{
    display: block;
}

.admin{
    background: linear-gradient(rgba(77, 201, 205, 0.5), rgba(0, 0, 0, 0.7)), url(../images/janatabank.jpg) center/cover no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .admin-login{
        .admin-login-form{
            height: 500px;
            width: 380px;
            background-color:var(--color-white);
            border-radius: 10px;
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding: 40px 35px;
            z-index: 100;
            *{
                color: var(--color-black);
                letter-spacing: 0.5px;
                // outline: none;
                // border: none;
            }
            h3{
                font-size: 32px;
                font-weight: 500;
                line-height: 42px;
                text-align: center;
            }
            label{
                display: block;
                margin-top: 30px;
                font-size: 16px;
                font-weight: 500;
            }
            input{
                display: block;
                height: 50px;
                width: 100%;
                background-color: var(--color-grey-1);
                border-radius: 3px;
                padding: 0 10px;
                margin-top: 8px;
                font-size: 14px;
                font-weight: 300;
                outline: none;
                border: none;
            }
            ::placeholder{
                color: var(--color-grey-2);
            }
            .login-button{
                margin-top: 2rem;
                margin-bottom: 0.5rem;
                width: 100%;
                background-color: var(--color-secondary);
                color: #080710;
                padding: 15px 0;
                font-size: 18px;
                font-weight: 600;
                border-radius: 5px;
                outline: none;
                border: none;
                cursor: pointer;
            }
        }
    }
}
.loginagain{
    background-color: #27AE60;
    padding:0.5rem 10rem;
    color: var(--color-white);
    font-weight: 600;
    border-radius: 12px;
}
.copy-right{
    text-align: center;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 300;
    padding: 1em;
}
